body {
	background-color: #fff;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 4.0vh;
}
h3 {
  font-size: 4.2vh;
}
h4 {
  font-size: 3.0vh;
}
h5 {
  font-size: 2.5vh;
}
h6 {
  font-size: 2.0vh;
}

a:focus, a:hover {
  text-decoration: none;
}
p {
  font-size: 2vmin;
}

.container {
	margin-top: 20px;
}
.col-xs-12 {
	padding: 0px;
}
button {
  border: none;
  background: none;
  outline: none;
}
.clear {
  clear: both;
}
.top_banner {
	padding: 10px;
  /*height: 80px;*/
}
.top_banner, .journeyText {
	background-color: #d82625;
  text-transform: uppercase;
	/*height: 200px;*/
}
.top_banner .img-responsive {
	margin: 0 auto;
}
.journeyText {
	color: #fff;
	margin: 20px 0px;
	padding: 10px;
}
.prodImage {
	margin-top: 20px;
}
.buyNow, .title {
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
}
.title {
  text-align: left;
}

.buyNow a {
	color: #fff;
}
ul.menu-display {
  margin: 0px !important;  
  padding: 15px 5px 5px 5px; 
}
ul.menu-display li {
  list-style-type: none;
  text-align: left;
  display: block;
font-size: 14px;
  border-bottom: 1px solid #edecec;
  width: 100%;
}
li .item-name {
  /*float: left;*/
  clear: both;
  text-align: left;
}
li .price {
  float: right;
}
..panel-title {
  font-size: 14px;
}
.menu-links {
/*  background-color: #0e2261;*/ /*blue bg*/
  background-color: #ffcb3a !important; /*yellow bg*/
  color: #0e2261;

  margin-top: 1px;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
}
.main-menu-links {
  background-color: #000; /*blue bg*/
  color: #fff;
  padding: 5px 15px;
  margin-top: 1px;
  text-align: left;
  font-size: 17px;
  width: 100%; 
}
.cust-panel {
  margin: 15px;
  text-align: left;
  margin-bottom: 30px;
}

.cust-panel .main-heading{
  background-color: #f44336 !important;
  color: #fff;
}

.description {
  float: left;
  margin-bottom: 15px;
  width: 75%;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Hamburger Menu - Start*/
.container
{
  max-width:100%;
  height:100%;
  /*background-color:#1D1F20;*/
  z-index:2;
  position:relative;
  left:0;
  padding: 0px;
}


#page2 {
  width:200px;
  height:100%;
  z-index:2;
  background-color:#fff;
  /*position:absolute;*/
  /*right:-200px;*/
  top:0;
}

.menu-wrapper
{
  position:absolute;
  left:0px;
  top:0;
  width:100%;
  height:100%;
  z-index:5;
  background-color:#000;
}

.primary-nav, .secondary-nav, .tertiary-nav
{
  width:33.33%;
  /*width: 20%;*/
  height:100%;
  float:left;
  position:relative;
}

.primary-nav
{
  background-color:$primaryColor;
}
.secondary-nav
{
  background-color:$secondaryColor;
}
.tertiary-nav
{
  background-color:$tertiaryColor;
}

.nav-content
{
  width:100%;
  display:inline-block;
  padding:20px;
}

.nav-content a
{
  text-decoration:none;
  color:#fff; 
}

.nav-content p.top-level
{
  font-weight:600;
  font-size:1.3em;
  font-family: 'PT Sans';
}

.nav-content ul
{
  padding:0;
  list-style-type:none;
}

.nav-content ul li a
{
  padding-bottom:8px;
  width:100%;
  display:inline-block;
}

.primary-nav p.seemore
{
  width:100%;
  display:inline-block;
  padding:15px;
  margin:0;
  background-color:#1D1F20;
  color:#fff;
  position:absolute;
  bottom:5%;
  cursor:pointer;
}

/* MENU TRIGGER */

.nav-wrapper 
{ 
  position: absolute; 
  left:15px; 
  top: 15px; 
  width:35px; 
  height: 26px; 
  cursor: pointer; 
  display: inline-block;
  z-index: 12;
  box-sizing:content-box; -moz-box-sizing:content-box;
  padding: 10px; 
}

#nav-trigger-anim  {position: absolute; top: 20px;   }
#nav-trigger-anim  span, #nav-trigger-anim  span:before, #nav-trigger-anim  span:after {
  border-radius: 2px;
  height: 5px;
  width: 35px;
  background-color:#fff; 
  position: absolute;
  display: inline-block;
  content: '';
  z-index: 3;
  cursor: pointer;
}

#nav-trigger-anim span:before {
  top: -10px;
  width:30px;
  left:2.5px;
}
#nav-trigger-anim span:after {
  bottom: -10px;
  width:30px;
  left:2.5px;
}

#nav-trigger-anim span, #nav-trigger-anim span:before, #nav-trigger-anim span:after {
  transition: all 500ms ease-in-out;
}

#nav-trigger-anim.active span {
  background-color: transparent;
}

#nav-trigger-anim.active span:before, #nav-trigger-anim.active span:after {
  top: 0;
}

#nav-trigger-anim.active span:before {
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg) ;
  -o-transform: rotate(45deg);
  transform: rotate(45deg) ;
}

#nav-trigger-anim.active span:after {
  transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
  top: 10px;
}
/*Hamburger Menu - END*/
/*New Menu Styles*/
.navigation {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  float: left;
}
.navigation a {
  text-decoration: none;
  color: #434A54;
  font-weight: 500;
}
.navigation .ion {
  font-size: 32px;
}
.inner-content {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  color: #6c6f73;
  height: 800px;
}
.inner-content figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}
.inner-content img {
  border: 5px solid #fff;
}
#offcanvas {
  position: absolute;
  top: 0px;
  left: 0;
  height: auto;
  width: 280px;
  background-color: #fff;
  border-right: 1px solid #CCD1D9;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1);
  transform: translateX(-100%);
  margin-left: -3px;
  padding-top: 10px;
  z-index: 100;
}
#close {
  float: right;
  padding: 10px;
  font-size: 14px;
  color: #d82625;
  transform: translateY(-100%);
  display: block;
  position: relative;
  z-index: 100;
}
.widget {
  padding: 20px;
  border-bottom: 1px solid #CCD1D9;
  opacity: 0;
}
.widget h3 {
  font-size: 12px;
  color: #434A54;
  text-transform: uppercase;
}
.widget p {
  font-size: 13px;
  color: #434A54;
  line-height: 1.5;
}
.widget.image ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget.image li {
  display: inline-block;
}
.widget.image img {
  border: 3px solid #E6E9ED;
}
.widget.follow ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget.follow li a {
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #656D78;
}
.widget.follow li a:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  /*text-align: center;*/
  font-size: 16px;
}
#pointer {
  position: absolute;
  top: 16px;
  left: 60px;
  text-transform: uppercase;
  font-size: 11px;
  color: #6c6f73;
}
#pointer:before {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}
.fb-icon {
  float: right;
  padding: 15px 10px;
  color: #d82625 !important;
  font-size: 17px;
}
.fb-icon a:before {
  padding-right: 10px;
}
.fb-icon a, .ion-navicon:before  {
    color: #d82625 !important;
}
.ion-ios-telephone {
  font-size: 17px;
  color: #d82625 !important;
  margin-top: -1px;
}
/*Contact Us Modal style*/
.overlay {
  position: fixed;
  top:0; left:0; width:100%; height:50%;
  color: #000;
}
.contact-details {
  background: #fff;
  text-align: left;
  padding: 20px;
  
} 
#modalOpen {
    /*font-size: 15px;*/
    font-size: 5vmin;
    background: none;
    padding: 0px 10px;
  }
#modalClose {
    font-size: 14px;
    margin-top: -20px; 
    text-align: center;
  }
.scrollup {
    background: #d82625; /*#ffcb3a - yellow*/
    bottom: 82px;
    display: none;
    position: fixed;
    right: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 13px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
   } 
a.scrollup:active, a.scrollup:focus {
  text-decoration: none;
}
.subTitle {
  text-align: left;
  font-size: 1.1em;
  line-height: 20px;
  padding: 15px;
  margin-bottom: 20px;
  /*margin: 10px 0px 0px 20px;*/
}
.panel-body {
  padding: 10px;
}






@media (max-width: 640px) {
  .menu-links {
    font-size: 13px;
  }
  .contact-details p{
    font-size: 12px;
  }
}  
.is-arrow-down {
      float: right;
    margin: 0px 5px 0px 0px;
    font-size: 17px;
    line-height: 30px;
    height: 35px;
}
.main-btn-arrow-down {
  float: right;
}


/*NEW CSS*/
.panel {

  border-bottom: 1px solid #fff; 
}
.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

/*.panel-heading {
  background-color: #009688;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}*/

.panel-title a {
  display: block;
  padding: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

/*.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}*/

/*.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}*/

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

.panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 0px;
  transform: rotate(180deg);
  transition: all 0.5s;
}
#accordion .panel-heading.active a:before,
#accordion2 .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}
.dinner-menu-title {
  margin-top: 20px;
}
/*
.panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
*/
